/.vs/OutboxSample/v14/.suo
/Console.App/bin/Debug/App.config
/Console.App/bin/Debug/Console.App.exe
/Console.App/bin/Debug/Console.App.exe.config
/Console.App/bin/Debug/Console.App.pdb
/Console.App/bin/Debug/Console.App.vshost.exe
/Console.App/bin/Debug/Console.App.vshost.exe.config
/Console.App/bin/Debug/Console.App.vshost.exe.manifest
/Console.App/bin/Debug/nsb_log_2018-02-08_0.txt
/Console.App/bin/Debug/NServiceBus.Core.dll
/Console.App/bin/Debug/NServiceBus.Core.pdb
/Console.App/bin/Debug/NServiceBus.Core.xml
/Console.App/bin/Debug/Orders.Commands.dll
/Console.App/bin/Debug/Orders.Commands.pdb
/Console.App/bin/Debug/Orders.Events.dll
/Console.App/bin/Debug/Orders.Events.pdb
/Console.App/bin/Debug/Shipping.Commands.dll
/Console.App/bin/Debug/Shipping.Commands.pdb
/Console.App/bin/Debug/Shipping.Events.dll
/Console.App/bin/Debug/Shipping.Events.pdb
/Console.App/obj/Debug/Console.App.csproj.FileListAbsolute.txt
/Console.App/obj/Debug/Console.App.csprojResolveAssemblyReference.cache
/Console.App/obj/Debug/Console.App.exe
/Console.App/obj/Debug/Console.App.pdb
/Console.App/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Console.App/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Console.App/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Console.App/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Orders.Commands/bin/Debug/NServiceBus.Core.dll
/Orders.Commands/bin/Debug/NServiceBus.Core.pdb
/Orders.Commands/bin/Debug/NServiceBus.Core.xml
/Orders.Commands/bin/Debug/Orders.Commands.dll
/Orders.Commands/bin/Debug/Orders.Commands.pdb
/Orders.Commands/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Orders.Commands/obj/Debug/Orders.Commands.csproj.FileListAbsolute.txt
/Orders.Commands/obj/Debug/Orders.Commands.csprojResolveAssemblyReference.cache
/Orders.Commands/obj/Debug/Orders.Commands.dll
/Orders.Commands/obj/Debug/Orders.Commands.pdb
/Orders.Commands/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Orders.Commands/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Orders.Commands/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Orders.Endpoint/bin/Debug/App.config
/Orders.Endpoint/bin/Debug/log4net.dll
/Orders.Endpoint/bin/Debug/log4net.xml
/Orders.Endpoint/bin/Debug/Newtonsoft.Json.dll
/Orders.Endpoint/bin/Debug/Newtonsoft.Json.xml
/Orders.Endpoint/bin/Debug/nsb_log_2018-02-08_0.txt
/Orders.Endpoint/bin/Debug/NServiceBus.Core.dll
/Orders.Endpoint/bin/Debug/NServiceBus.Core.pdb
/Orders.Endpoint/bin/Debug/NServiceBus.Core.xml
/Orders.Endpoint/bin/Debug/NServiceBus.Host.exe
/Orders.Endpoint/bin/Debug/NServiceBus.Host.exe.config
/Orders.Endpoint/bin/Debug/NServiceBus.Host.pdb
/Orders.Endpoint/bin/Debug/NServiceBus.Host.xml
/Orders.Endpoint/bin/Debug/NServiceBus.Log4Net.dll
/Orders.Endpoint/bin/Debug/NServiceBus.Log4Net.pdb
/Orders.Endpoint/bin/Debug/NServiceBus.Log4Net.xml
/Orders.Endpoint/bin/Debug/NServiceBus.ObjectBuilder.StructureMap.dll
/Orders.Endpoint/bin/Debug/NServiceBus.ObjectBuilder.StructureMap.pdb
/Orders.Endpoint/bin/Debug/NServiceBus.ObjectBuilder.StructureMap.xml
/Orders.Endpoint/bin/Debug/NServiceBus.RavenDB.dll
/Orders.Endpoint/bin/Debug/NServiceBus.RavenDB.pdb
/Orders.Endpoint/bin/Debug/NServiceBus.RavenDB.xml
/Orders.Endpoint/bin/Debug/Orders.Commands.dll
/Orders.Endpoint/bin/Debug/Orders.Commands.pdb
/Orders.Endpoint/bin/Debug/Orders.Endpoint.dll
/Orders.Endpoint/bin/Debug/Orders.Endpoint.dll.config
/Orders.Endpoint/bin/Debug/Orders.Endpoint.pdb
/Orders.Endpoint/bin/Debug/Orders.Events.dll
/Orders.Endpoint/bin/Debug/Orders.Events.pdb
/Orders.Endpoint/bin/Debug/Orders.Handlers.dll
/Orders.Endpoint/bin/Debug/Orders.Handlers.pdb
/Orders.Endpoint/bin/Debug/Raven.Abstractions.dll
/Orders.Endpoint/bin/Debug/Raven.Abstractions.pdb
/Orders.Endpoint/bin/Debug/Raven.Abstractions.xml
/Orders.Endpoint/bin/Debug/Raven.Client.Lightweight.dll
/Orders.Endpoint/bin/Debug/Raven.Client.Lightweight.pdb
/Orders.Endpoint/bin/Debug/Raven.Client.Lightweight.xml
/Orders.Endpoint/bin/Debug/Raven.Client.UniqueConstraints.dll
/Orders.Endpoint/bin/Debug/Raven.Client.UniqueConstraints.pdb
/Orders.Endpoint/bin/Debug/ServiceControl.Plugin.Nsb5.Heartbeat.dll
/Orders.Endpoint/bin/Debug/ServiceControl.Plugin.Nsb5.Heartbeat.pdb
/Orders.Endpoint/bin/Debug/ServiceControl.Plugin.Nsb5.Heartbeat.xml
/Orders.Endpoint/bin/Debug/Shipping.Commands.dll
/Orders.Endpoint/bin/Debug/Shipping.Commands.pdb
/Orders.Endpoint/bin/Debug/Shipping.Events.dll
/Orders.Endpoint/bin/Debug/Shipping.Events.pdb
/Orders.Endpoint/bin/Debug/StructureMap.dll
/Orders.Endpoint/bin/Debug/StructureMap.Net4.dll
/Orders.Endpoint/bin/Debug/StructureMap.Net4.pdb
/Orders.Endpoint/bin/Debug/StructureMap.pdb
/Orders.Endpoint/bin/Debug/StructureMap.xml
/Orders.Endpoint/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Orders.Endpoint/obj/Debug/Orders.Endpoint.csproj.FileListAbsolute.txt
/Orders.Endpoint/obj/Debug/Orders.Endpoint.csprojResolveAssemblyReference.cache
/Orders.Endpoint/obj/Debug/Orders.Endpoint.dll
/Orders.Endpoint/obj/Debug/Orders.Endpoint.pdb
/Orders.Endpoint/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Orders.Endpoint/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Orders.Endpoint/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Orders.Events/bin/Debug/NServiceBus.Core.dll
/Orders.Events/bin/Debug/NServiceBus.Core.pdb
/Orders.Events/bin/Debug/NServiceBus.Core.xml
/Orders.Events/bin/Debug/Orders.Events.dll
/Orders.Events/bin/Debug/Orders.Events.pdb
/Orders.Events/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Orders.Events/obj/Debug/Orders.Events.csproj.FileListAbsolute.txt
/Orders.Events/obj/Debug/Orders.Events.csprojResolveAssemblyReference.cache
/Orders.Events/obj/Debug/Orders.Events.dll
/Orders.Events/obj/Debug/Orders.Events.pdb
/Orders.Events/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Orders.Events/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Orders.Events/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Orders.Handlers/bin/Debug/NServiceBus.Core.dll
/Orders.Handlers/bin/Debug/NServiceBus.Core.pdb
/Orders.Handlers/bin/Debug/NServiceBus.Core.xml
/Orders.Handlers/bin/Debug/NServiceBus.RavenDB.dll
/Orders.Handlers/bin/Debug/NServiceBus.RavenDB.pdb
/Orders.Handlers/bin/Debug/NServiceBus.RavenDB.xml
/Orders.Handlers/bin/Debug/Orders.Commands.dll
/Orders.Handlers/bin/Debug/Orders.Commands.pdb
/Orders.Handlers/bin/Debug/Orders.Events.dll
/Orders.Handlers/bin/Debug/Orders.Events.pdb
/Orders.Handlers/bin/Debug/Orders.Handlers.dll
/Orders.Handlers/bin/Debug/Orders.Handlers.dll.config
/Orders.Handlers/bin/Debug/Orders.Handlers.pdb
/Orders.Handlers/bin/Debug/Raven.Abstractions.dll
/Orders.Handlers/bin/Debug/Raven.Abstractions.pdb
/Orders.Handlers/bin/Debug/Raven.Abstractions.xml
/Orders.Handlers/bin/Debug/Raven.Client.Lightweight.dll
/Orders.Handlers/bin/Debug/Raven.Client.Lightweight.pdb
/Orders.Handlers/bin/Debug/Raven.Client.Lightweight.xml
/Orders.Handlers/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Orders.Handlers/obj/Debug/Orders.Handlers.csproj.FileListAbsolute.txt
/Orders.Handlers/obj/Debug/Orders.Handlers.csprojResolveAssemblyReference.cache
/Orders.Handlers/obj/Debug/Orders.Handlers.dll
/Orders.Handlers/obj/Debug/Orders.Handlers.pdb
/Orders.Handlers/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Orders.Handlers/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Orders.Handlers/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/packages/log4net.2.0.3/lib/net10-full/log4net.dll
/packages/log4net.2.0.3/lib/net10-full/log4net.xml
/packages/log4net.2.0.3/lib/net11-full/log4net.dll
/packages/log4net.2.0.3/lib/net11-full/log4net.xml
/packages/log4net.2.0.3/lib/net20-full/log4net.dll
/packages/log4net.2.0.3/lib/net20-full/log4net.xml
/packages/log4net.2.0.3/lib/net35-client/log4net.dll
/packages/log4net.2.0.3/lib/net35-client/log4net.xml
/packages/log4net.2.0.3/lib/net35-full/log4net.dll
/packages/log4net.2.0.3/lib/net35-full/log4net.xml
/packages/log4net.2.0.3/lib/net40-client/log4net.dll
/packages/log4net.2.0.3/lib/net40-client/log4net.xml
/packages/log4net.2.0.3/lib/net40-full/log4net.dll
/packages/log4net.2.0.3/lib/net40-full/log4net.xml
/packages/log4net.2.0.3/log4net.2.0.3.nupkg
/packages/Newtonsoft.Json.9.0.1/lib/net20/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.9.0.1/lib/net20/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.9.0.1/lib/net35/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.9.0.1/lib/net35/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.9.0.1/lib/net40/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.9.0.1/lib/net40/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.9.0.1/lib/net45/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.9.0.1/lib/net45/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.9.0.1/lib/netstandard1.0/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.9.0.1/lib/netstandard1.0/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.9.0.1/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.9.0.1/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.9.0.1/lib/portable-net45+wp80+win8+wpa81/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.9.0.1/lib/portable-net45+wp80+win8+wpa81/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.9.0.1/Newtonsoft.Json.9.0.1.nupkg
/packages/Newtonsoft.Json.9.0.1/tools/install.ps1
/packages/NServiceBus.5.2.12/lib/net45/NServiceBus.Core.dll
/packages/NServiceBus.5.2.12/lib/net45/NServiceBus.Core.pdb
/packages/NServiceBus.5.2.12/lib/net45/NServiceBus.Core.xml
/packages/NServiceBus.5.2.12/NServiceBus.5.2.12.nupkg
/packages/NServiceBus.5.2.12/tools/about_NServiceBus.help.txt
/packages/NServiceBus.5.2.12/tools/init.ps1
/packages/NServiceBus.5.2.12/tools/NServiceBus.PowerShell.Development.dll
/packages/NServiceBus.Host.6.0.0/lib/net45/NServiceBus.Host.exe
/packages/NServiceBus.Host.6.0.0/lib/net45/NServiceBus.Host.pdb
/packages/NServiceBus.Host.6.0.0/lib/net45/NServiceBus.Host.xml
/packages/NServiceBus.Host.6.0.0/NServiceBus.Host.6.0.0.nupkg
/packages/NServiceBus.Host.6.0.0/tools/EndpointConfig.cs
/packages/NServiceBus.Host.6.0.0/tools/install.ps1
/packages/NServiceBus.Log4Net.1.0.0/lib/net45/NServiceBus.Log4Net.dll
/packages/NServiceBus.Log4Net.1.0.0/lib/net45/NServiceBus.Log4Net.pdb
/packages/NServiceBus.Log4Net.1.0.0/lib/net45/NServiceBus.Log4Net.xml
/packages/NServiceBus.Log4Net.1.0.0/NServiceBus.Log4Net.1.0.0.nupkg
/packages/NServiceBus.RavenDB.3.2.2/lib/net45/NServiceBus.RavenDB.dll
/packages/NServiceBus.RavenDB.3.2.2/lib/net45/NServiceBus.RavenDB.pdb
/packages/NServiceBus.RavenDB.3.2.2/lib/net45/NServiceBus.RavenDB.xml
/packages/NServiceBus.RavenDB.3.2.2/NServiceBus.RavenDB.3.2.2.nupkg
/packages/NServiceBus.StructureMap.5.0.1/lib/net45/NServiceBus.ObjectBuilder.StructureMap.dll
/packages/NServiceBus.StructureMap.5.0.1/lib/net45/NServiceBus.ObjectBuilder.StructureMap.pdb
/packages/NServiceBus.StructureMap.5.0.1/lib/net45/NServiceBus.ObjectBuilder.StructureMap.xml
/packages/NServiceBus.StructureMap.5.0.1/NServiceBus.StructureMap.5.0.1.nupkg
/packages/RavenDB.Client.3.5.5-patch-35220/lib/net45/Raven.Abstractions.dll
/packages/RavenDB.Client.3.5.5-patch-35220/lib/net45/Raven.Abstractions.pdb
/packages/RavenDB.Client.3.5.5-patch-35220/lib/net45/Raven.Abstractions.xml
/packages/RavenDB.Client.3.5.5-patch-35220/lib/net45/Raven.Client.Lightweight.dll
/packages/RavenDB.Client.3.5.5-patch-35220/lib/net45/Raven.Client.Lightweight.pdb
/packages/RavenDB.Client.3.5.5-patch-35220/lib/net45/Raven.Client.Lightweight.XML
/packages/RavenDB.Client.3.5.5-patch-35220/lib/netstandard1.3/Raven.Abstractions.dll
/packages/RavenDB.Client.3.5.5-patch-35220/lib/netstandard1.3/Raven.Abstractions.pdb
/packages/RavenDB.Client.3.5.5-patch-35220/lib/netstandard1.3/Raven.Client.Lightweight.deps.json
/packages/RavenDB.Client.3.5.5-patch-35220/lib/netstandard1.3/Raven.Client.Lightweight.dll
/packages/RavenDB.Client.3.5.5-patch-35220/lib/netstandard1.3/Raven.Client.Lightweight.pdb
/packages/RavenDB.Client.3.5.5-patch-35220/lib/netstandard1.3/Sparrow.dll
/packages/RavenDB.Client.3.5.5-patch-35220/lib/netstandard1.3/Sparrow.pdb
/packages/RavenDB.Client.3.5.5-patch-35220/RavenDB.Client.3.5.5-patch-35220.nupkg
/packages/RavenDB.Client.UniqueConstraints.3.5.5-patch-35220/lib/net45/Raven.Client.UniqueConstraints.dll
/packages/RavenDB.Client.UniqueConstraints.3.5.5-patch-35220/lib/net45/Raven.Client.UniqueConstraints.pdb
/packages/RavenDB.Client.UniqueConstraints.3.5.5-patch-35220/lib/netstandard1.3/Raven.Client.UniqueConstraints.deps.json
/packages/RavenDB.Client.UniqueConstraints.3.5.5-patch-35220/lib/netstandard1.3/Raven.Client.UniqueConstraints.dll
/packages/RavenDB.Client.UniqueConstraints.3.5.5-patch-35220/lib/netstandard1.3/Raven.Client.UniqueConstraints.pdb
/packages/RavenDB.Client.UniqueConstraints.3.5.5-patch-35220/RavenDB.Client.UniqueConstraints.3.5.5-patch-35220.nupkg
/packages/ServiceControl.Plugin.Nsb5.Heartbeat.2.0.1/lib/net45/ServiceControl.Plugin.Nsb5.Heartbeat.dll
/packages/ServiceControl.Plugin.Nsb5.Heartbeat.2.0.1/lib/net45/ServiceControl.Plugin.Nsb5.Heartbeat.pdb
/packages/ServiceControl.Plugin.Nsb5.Heartbeat.2.0.1/lib/net45/ServiceControl.Plugin.Nsb5.Heartbeat.xml
/packages/ServiceControl.Plugin.Nsb5.Heartbeat.2.0.1/ServiceControl.Plugin.Nsb5.Heartbeat.2.0.1.nupkg
/packages/structuremap.3.1.6.186/lib/net40/StructureMap.dll
/packages/structuremap.3.1.6.186/lib/net40/StructureMap.Net4.dll
/packages/structuremap.3.1.6.186/lib/net40/StructureMap.Net4.pdb
/packages/structuremap.3.1.6.186/lib/net40/StructureMap.pdb
/packages/structuremap.3.1.6.186/lib/net40/StructureMap.xml
/packages/structuremap.3.1.6.186/lib/portable-net4+netcore45+MonoAndroid1+MonoTouch1/StructureMap.dll
/packages/structuremap.3.1.6.186/lib/portable-net4+netcore45+MonoAndroid1+MonoTouch1/StructureMap.pdb
/packages/structuremap.3.1.6.186/lib/portable-net4+netcore45+MonoAndroid1+MonoTouch1/StructureMap.xml
/packages/structuremap.3.1.6.186/lib/portable-net45+win+wp81/StructureMap.dll
/packages/structuremap.3.1.6.186/lib/portable-net45+win+wp81/StructureMap.pdb
/packages/structuremap.3.1.6.186/lib/portable-net45+win+wp81/StructureMap.xml
/packages/structuremap.3.1.6.186/lib/portable-win+net40+wp8/StructureMap.dll
/packages/structuremap.3.1.6.186/lib/portable-win+net40+wp8/StructureMap.pdb
/packages/structuremap.3.1.6.186/lib/portable-win+net40+wp8/StructureMap.xml
/packages/structuremap.3.1.6.186/lib/wp80/StructureMap.dll
/packages/structuremap.3.1.6.186/lib/wp80/StructureMap.pdb
/packages/structuremap.3.1.6.186/lib/wp80/StructureMap.xml
/packages/structuremap.3.1.6.186/lib/wp81/StructureMap.dll
/packages/structuremap.3.1.6.186/lib/wp81/StructureMap.pdb
/packages/structuremap.3.1.6.186/lib/wp81/StructureMap.xml
/packages/structuremap.3.1.6.186/structuremap.3.1.6.186.nupkg
/Shipping.Commands/bin/Debug/NServiceBus.Core.dll
/Shipping.Commands/bin/Debug/NServiceBus.Core.pdb
/Shipping.Commands/bin/Debug/NServiceBus.Core.xml
/Shipping.Commands/bin/Debug/Shipping.Commands.dll
/Shipping.Commands/bin/Debug/Shipping.Commands.pdb
/Shipping.Commands/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Shipping.Commands/obj/Debug/Shipping.Commands.csproj.FileListAbsolute.txt
/Shipping.Commands/obj/Debug/Shipping.Commands.csprojResolveAssemblyReference.cache
/Shipping.Commands/obj/Debug/Shipping.Commands.dll
/Shipping.Commands/obj/Debug/Shipping.Commands.pdb
/Shipping.Commands/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Shipping.Commands/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Shipping.Commands/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Shipping.Endpoint/bin/Debug/log4net.dll
/Shipping.Endpoint/bin/Debug/log4net.xml
/Shipping.Endpoint/bin/Debug/Newtonsoft.Json.dll
/Shipping.Endpoint/bin/Debug/Newtonsoft.Json.xml
/Shipping.Endpoint/bin/Debug/nsb_log_2018-02-08_0.txt
/Shipping.Endpoint/bin/Debug/NServiceBus.Core.dll
/Shipping.Endpoint/bin/Debug/NServiceBus.Core.pdb
/Shipping.Endpoint/bin/Debug/NServiceBus.Core.xml
/Shipping.Endpoint/bin/Debug/NServiceBus.Host.exe
/Shipping.Endpoint/bin/Debug/NServiceBus.Host.exe.config
/Shipping.Endpoint/bin/Debug/NServiceBus.Host.pdb
/Shipping.Endpoint/bin/Debug/NServiceBus.Host.xml
/Shipping.Endpoint/bin/Debug/NServiceBus.Log4Net.dll
/Shipping.Endpoint/bin/Debug/NServiceBus.Log4Net.pdb
/Shipping.Endpoint/bin/Debug/NServiceBus.Log4Net.xml
/Shipping.Endpoint/bin/Debug/NServiceBus.ObjectBuilder.StructureMap.dll
/Shipping.Endpoint/bin/Debug/NServiceBus.ObjectBuilder.StructureMap.pdb
/Shipping.Endpoint/bin/Debug/NServiceBus.ObjectBuilder.StructureMap.xml
/Shipping.Endpoint/bin/Debug/NServiceBus.RavenDB.dll
/Shipping.Endpoint/bin/Debug/NServiceBus.RavenDB.pdb
/Shipping.Endpoint/bin/Debug/NServiceBus.RavenDB.xml
/Shipping.Endpoint/bin/Debug/Orders.Commands.dll
/Shipping.Endpoint/bin/Debug/Orders.Commands.pdb
/Shipping.Endpoint/bin/Debug/Orders.Events.dll
/Shipping.Endpoint/bin/Debug/Orders.Events.pdb
/Shipping.Endpoint/bin/Debug/Raven.Abstractions.dll
/Shipping.Endpoint/bin/Debug/Raven.Abstractions.pdb
/Shipping.Endpoint/bin/Debug/Raven.Abstractions.xml
/Shipping.Endpoint/bin/Debug/Raven.Client.Lightweight.dll
/Shipping.Endpoint/bin/Debug/Raven.Client.Lightweight.pdb
/Shipping.Endpoint/bin/Debug/Raven.Client.Lightweight.xml
/Shipping.Endpoint/bin/Debug/Raven.Client.UniqueConstraints.dll
/Shipping.Endpoint/bin/Debug/Raven.Client.UniqueConstraints.pdb
/Shipping.Endpoint/bin/Debug/ServiceControl.Plugin.Nsb5.Heartbeat.dll
/Shipping.Endpoint/bin/Debug/ServiceControl.Plugin.Nsb5.Heartbeat.pdb
/Shipping.Endpoint/bin/Debug/ServiceControl.Plugin.Nsb5.Heartbeat.xml
/Shipping.Endpoint/bin/Debug/Shipping.Commands.dll
/Shipping.Endpoint/bin/Debug/Shipping.Commands.pdb
/Shipping.Endpoint/bin/Debug/Shipping.Endpoint.dll
/Shipping.Endpoint/bin/Debug/Shipping.Endpoint.dll.config
/Shipping.Endpoint/bin/Debug/Shipping.Endpoint.pdb
/Shipping.Endpoint/bin/Debug/Shipping.Events.dll
/Shipping.Endpoint/bin/Debug/Shipping.Events.pdb
/Shipping.Endpoint/bin/Debug/Shipping.Handlers.dll
/Shipping.Endpoint/bin/Debug/Shipping.Handlers.pdb
/Shipping.Endpoint/bin/Debug/StructureMap.dll
/Shipping.Endpoint/bin/Debug/StructureMap.Net4.dll
/Shipping.Endpoint/bin/Debug/StructureMap.Net4.pdb
/Shipping.Endpoint/bin/Debug/StructureMap.pdb
/Shipping.Endpoint/bin/Debug/StructureMap.xml
/Shipping.Endpoint/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Shipping.Endpoint/obj/Debug/Shipping.Endpoint.csproj.FileListAbsolute.txt
/Shipping.Endpoint/obj/Debug/Shipping.Endpoint.csprojResolveAssemblyReference.cache
/Shipping.Endpoint/obj/Debug/Shipping.Endpoint.dll
/Shipping.Endpoint/obj/Debug/Shipping.Endpoint.pdb
/Shipping.Endpoint/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Shipping.Endpoint/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Shipping.Endpoint/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Shipping.Endpoint/Shipping.Endpoint.csproj.user
/Shipping.Endpoint/Shipping.Endpoint.csproj.user
/Shipping.Events/bin/Debug/Shipping.Events.dll
/Shipping.Events/bin/Debug/Shipping.Events.pdb
/Shipping.Events/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Shipping.Events/obj/Debug/Shipping.Events.csproj.FileListAbsolute.txt
/Shipping.Events/obj/Debug/Shipping.Events.csprojResolveAssemblyReference.cache
/Shipping.Events/obj/Debug/Shipping.Events.dll
/Shipping.Events/obj/Debug/Shipping.Events.pdb
/Shipping.Events/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Shipping.Events/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Shipping.Events/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Shipping.Handlers/bin/Debug/NServiceBus.Core.dll
/Shipping.Handlers/bin/Debug/NServiceBus.Core.pdb
/Shipping.Handlers/bin/Debug/NServiceBus.Core.xml
/Shipping.Handlers/bin/Debug/NServiceBus.RavenDB.dll
/Shipping.Handlers/bin/Debug/NServiceBus.RavenDB.pdb
/Shipping.Handlers/bin/Debug/NServiceBus.RavenDB.xml
/Shipping.Handlers/bin/Debug/Orders.Commands.dll
/Shipping.Handlers/bin/Debug/Orders.Commands.pdb
/Shipping.Handlers/bin/Debug/Orders.Events.dll
/Shipping.Handlers/bin/Debug/Orders.Events.pdb
/Shipping.Handlers/bin/Debug/Raven.Abstractions.dll
/Shipping.Handlers/bin/Debug/Raven.Abstractions.pdb
/Shipping.Handlers/bin/Debug/Raven.Abstractions.xml
/Shipping.Handlers/bin/Debug/Raven.Client.Lightweight.dll
/Shipping.Handlers/bin/Debug/Raven.Client.Lightweight.pdb
/Shipping.Handlers/bin/Debug/Raven.Client.Lightweight.xml
/Shipping.Handlers/bin/Debug/Shipping.Commands.dll
/Shipping.Handlers/bin/Debug/Shipping.Commands.pdb
/Shipping.Handlers/bin/Debug/Shipping.Handlers.dll
/Shipping.Handlers/bin/Debug/Shipping.Handlers.dll.config
/Shipping.Handlers/bin/Debug/Shipping.Handlers.pdb
/Shipping.Handlers/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Shipping.Handlers/obj/Debug/Shipping.Handlers.csproj.FileListAbsolute.txt
/Shipping.Handlers/obj/Debug/Shipping.Handlers.csprojResolveAssemblyReference.cache
/Shipping.Handlers/obj/Debug/Shipping.Handlers.dll
/Shipping.Handlers/obj/Debug/Shipping.Handlers.pdb
/Shipping.Handlers/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Shipping.Handlers/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Shipping.Handlers/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Common/bin/Debug/Common.dll
/Common/bin/Debug/Common.dll.config
/Common/bin/Debug/Common.pdb
/Common/bin/Debug/NServiceBus.Core.dll
/Common/bin/Debug/NServiceBus.Core.pdb
/Common/bin/Debug/NServiceBus.Core.xml
/Common/bin/Debug/NServiceBus.RavenDB.dll
/Common/bin/Debug/NServiceBus.RavenDB.pdb
/Common/bin/Debug/NServiceBus.RavenDB.xml
/Common/bin/Debug/Raven.Abstractions.dll
/Common/bin/Debug/Raven.Abstractions.pdb
/Common/bin/Debug/Raven.Abstractions.xml
/Common/bin/Debug/Raven.Client.Lightweight.dll
/Common/bin/Debug/Raven.Client.Lightweight.pdb
/Common/bin/Debug/Raven.Client.Lightweight.xml
/Common/obj/Debug/build.force
/Common/obj/Debug/Common.csproj.FileListAbsolute.txt
/Common/obj/Debug/Common.csprojResolveAssemblyReference.cache
/Common/obj/Debug/Common.dll
/Common/obj/Debug/Common.pdb
/Common/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Common/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Common/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Common/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Orders.Endpoint/obj/Debug/build.force
/Orders.Handlers/bin/Debug/Common.dll
/Orders.Handlers/bin/Debug/Common.pdb
/Console.App/bin/Debug/nsb_log_2018-02-09_0.txt
/Orders.Endpoint/bin/Debug/Common.dll
/Orders.Endpoint/bin/Debug/Common.pdb
/Orders.Endpoint/bin/Debug/log4net.Ext.Json.dll
/Orders.Endpoint/bin/Debug/log4net.Ext.Json.xml
/Orders.Endpoint/bin/Debug/nsb_log_2018-02-09_0.txt
/packages/log4net.Ext.Json.1.2.13.1.2.13.20140804/lib/net20-full/log4net.Ext.Json.dll
/packages/log4net.Ext.Json.1.2.13.1.2.13.20140804/lib/net20-full/log4net.Ext.Json.LICENSE.txt
/packages/log4net.Ext.Json.1.2.13.1.2.13.20140804/lib/net20-full/log4net.Ext.Json.README.txt
/packages/log4net.Ext.Json.1.2.13.1.2.13.20140804/lib/net20-full/log4net.Ext.Json.xml
/packages/log4net.Ext.Json.1.2.13.1.2.13.20140804/lib/net35-cp/log4net.Ext.Json.dll
/packages/log4net.Ext.Json.1.2.13.1.2.13.20140804/lib/net35-cp/log4net.Ext.Json.LICENSE.txt
/packages/log4net.Ext.Json.1.2.13.1.2.13.20140804/lib/net35-cp/log4net.Ext.Json.README.txt
/packages/log4net.Ext.Json.1.2.13.1.2.13.20140804/lib/net35-cp/log4net.Ext.Json.xml
/packages/log4net.Ext.Json.1.2.13.1.2.13.20140804/lib/net35-full/log4net.Ext.Json.dll
/packages/log4net.Ext.Json.1.2.13.1.2.13.20140804/lib/net35-full/log4net.Ext.Json.LICENSE.txt
/packages/log4net.Ext.Json.1.2.13.1.2.13.20140804/lib/net35-full/log4net.Ext.Json.README.txt
/packages/log4net.Ext.Json.1.2.13.1.2.13.20140804/lib/net35-full/log4net.Ext.Json.xml
/packages/log4net.Ext.Json.1.2.13.1.2.13.20140804/log4net.Ext.Json.1.2.13.1.2.13.20140804.nupkg
/packages/log4net.Ext.Json.1.2.13.1.2.13.20140804/pack.cmd
/packages/log4net.Ext.Json.1.2.13.1.2.13.20140804/push.cmd
/Shipping.Endpoint/bin/Debug/Common.dll
/Shipping.Endpoint/bin/Debug/Common.pdb
/Shipping.Endpoint/bin/Debug/log4net.Ext.Json.dll
/Shipping.Endpoint/bin/Debug/log4net.Ext.Json.xml
/Shipping.Endpoint/bin/Debug/nsb_log_2018-02-09_0.txt
/Shipping.Endpoint/obj/Debug/build.force
/Shipping.Handlers/bin/Debug/Common.dll
/Shipping.Handlers/bin/Debug/Common.pdb
