<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NServiceBus" version="5.2.12" targetFramework="net462" />
  <package id="NServiceBus.RavenDB" version="3.2.2" targetFramework="net462" />
  <package id="RavenDB.Client" version="3.5.5-patch-35220" targetFramework="net462" />
</packages>